[submodule "packages/biblio"]
	path = packages/biblio
	url = /storage/share/git/ria-store/alias/biblio
	datalad-id = 790bdc7b-349b-4787-91ae-4753b0a31348
	datalad-url = "ria+file:///storage/share/git/ria-store#~biblio"
