[submodule "packages/biblio"]
	path = packages/biblio
	url = /storage/share/git/ria-store/alias/biblio
	datalad-id = 790bdc7b-349b-4787-91ae-4753b0a31348
	datalad-url = "ria+file:///storage/share/git/ria-store#~biblio"
[submodule "packages/notio"]
	path = packages/notio
	url = /storage/share/git/ria-store/alias/notio
	datalad-id = 6bb9c824-e98a-496c-a4fe-2f7285bf2bd0
	datalad-url = "ria+file:///storage/share/git/ria-store#~notio"
[submodule "packages/indexio"]
	path = packages/indexio
	url = /storage/share/git/ria-store/alias/indexio
	datalad-id = a2e8758a-46b6-401f-9757-85f523d7c813
	datalad-url = "ria+file:///storage/share/git/ria-store#~indexio"
[submodule "example-repo"]
	path = example-repo
	url = ./example-repo
	datalad-id = 43b33e61-05ab-472a-9cdf-b588ca1f7106
