__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/
.pytest_cache/
.mypy_cache/
.projio/index/
*.egg
.cache/

# >>> projio >>>
.claude/settings.json
.mcp.json
.projio.mkdocs.yml
.projio/indexio/index/
.projio/servers.json
.projio/site/
site/
# <<< projio <<<
