[submodule "packages/biblio"]
	path = packages/biblio
	url = https://github.com/arashshahidi1997/biblio.git
	datalad-id = 790bdc7b-349b-4787-91ae-4753b0a31348
	datalad-url = /storage/share/git/ria-store/alias/biblio
[submodule "packages/notio"]
	path = packages/notio
	url = https://github.com/arashshahidi1997/notio.git
	datalad-id = 6bb9c824-e98a-496c-a4fe-2f7285bf2bd0
	datalad-url = /storage/share/git/ria-store/alias/notio
[submodule "packages/indexio"]
	path = packages/indexio
	url = https://github.com/arashshahidi1997/indexio.git
	datalad-id = a2e8758a-46b6-401f-9757-85f523d7c813
	datalad-url = /storage/share/git/ria-store/alias/indexio
[submodule "packages/codio"]
	path = packages/codio
	url = https://github.com/arashshahidi1997/codio.git
	datalad-id = b8c89e9e-022a-431c-9522-193cd5a622eb
	datalad-url = /storage/share/git/ria-store/alias/codio
[submodule "packages/pipeio"]
	path = packages/pipeio
	url = ./packages/pipeio
	datalad-id = 78502d99-5102-4adf-9acf-8adee78140f3
